<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terms os use</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
</head>
<body>
    <div class="bg-gradient-to-r from-indigo-800 via-blue-600 to-purple-600 w-screen h-screen flex items-center justify-center">
        <div class="bg-indigo-200 max-w-screen-md mx-auto h-3/5 w-full border border-indigo-900 rounded flex flex-col drop-shadow-2xl" style="padding: 10px;">
            <p class="text-2xl font-bold text-center mt-4 font-nunito">Terms of use</p>

            <ul>
                <li>- Each payment has 5%.</li>
                <li>- Any blue coin over the cost of a item isn't possible to refund</li>
                <li>- Payment requests expire after 12 hours. If any bluecoins were paid, but not the full price of the item, no coins will be refunded.</li>
            </ul>
        </div>

    </div>
</body>
</html>
</title>
</head>
<body>

</body>
</html>